#generation-parents .carousel-container {
    max-width: 25%
}

#generation-elders .carousel-container {
    max-width: 15%
}

@media screen and (max-width: 1100px) {

    .generation {
        flex-wrap: wrap;
        height: auto; !important
    }

    #generation-puppies{
        height: auto;
        padding-top: 0;
        flex-flow: wrap-reverse;
    }

    #generation-elders {
        height: auto;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }

    #generation-elders .carousel-container {
        max-width: 40%
    }

    #generation-parents {
        height: auto;

        margin: 0px;
    }

    #generation-parents .carousel-container {
        width: 40%;
        max-width: 40%
    }

    .carousel-arrow {
        display: none;
    }

    #generation-puppies .carousel-container {
        max-width: 44%;
    }

    #carousel-container-Puppy_1 {
        transform: translate(10%, 10%);
    }

    #carousel-container-Puppy_2 {
        transform: translate(-10%, 10%);
    }

    #carousel-container-Puppy_3 {
        transform: translate(-15%, 0%);
    }

    #carousel-container-Puppy_4 {
        transform: translate(15%, 0%);
    }

    #carousel-container-Puppy_5 {
        transform: translate(0, 15%);
    }

    .carousel-container {
        width: calc(40.33% - 10px);
    }


    .carousel-title-container {
        z-index: 2;
        width: 80%;
        left:10%;
        position: relative;
        top:70% ;
        height:50%
    }

}